<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>Brad12</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad12</servlet-name>
    <url-pattern>/Brad12</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad13</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad13</servlet-name>
    <url-pattern>/Brad13</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad14</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad14</servlet-name>
    <url-pattern>/Brad14</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad15</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad15</servlet-name>
    <url-pattern>/Brad15</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad16</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad16</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad16</servlet-name>
    <url-pattern>/Brad16</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad17</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad17</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad17</servlet-name>
    <url-pattern>/Brad17</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad18</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad18</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad18</servlet-name>
    <url-pattern>/Brad18</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad19</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad19</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad19</servlet-name>
    <url-pattern>/Brad19</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad20</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad20</servlet-name>
    <url-pattern>/Brad20</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad21</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad21</servlet-name>
    <url-pattern>/Brad21</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad24</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad24</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad24</servlet-name>
    <url-pattern>/Brad24</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad25</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad25</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad25</servlet-name>
    <url-pattern>/Brad25</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad26</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad26</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad26</servlet-name>
    <url-pattern>/Brad26</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad27</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad27</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad27</servlet-name>
    <url-pattern>/Brad27</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad29</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad29</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad29</servlet-name>
    <url-pattern>/Brad29</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad30</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad30</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad30</servlet-name>
    <url-pattern>/Brad30</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad31</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad31</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad31</servlet-name>
    <url-pattern>/Brad31</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad32</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad32</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad32</servlet-name>
    <url-pattern>/Brad32</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad33</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad33</servlet-name>
    <url-pattern>/Brad33</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad34</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad34</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad34</servlet-name>
    <url-pattern>/Brad34</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad35</servlet-name>
    <servlet-class>tw.brad.bradweb.Brad35</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad35</servlet-name>
    <url-pattern>/Brad35</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <description>My Tepmplate</description>
    <param-name>template-path</param-name>
    <param-value>D:\Source\Brad\WebContent\tempates</param-value>
  </context-param>
  <context-param>
    <description>Image Folder</description>
    <param-name>imgs-path</param-name>
    <param-value>D:\Source\Brad\WebContent\imgs</param-value>
  </context-param>
</web-app>